doctype html
html 
    head
      title 회원가입
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/stylesheets/sign_up.css')

    body 
      <form method="post">
        #Sign_up
          ._163
            rect#_163(rx='0' ry='0' x='0' y='0' width='800' height='960')
          h1#Logo
            span 2조 주식회사
          #employee_name
            input(type='text' name='employee_name' placeholder='이름' style='background: transparent; width: 400px; height:27px')
            svg._297(viewbox='-835.08 2509.809 399.08 2')
              path#_297(d='M -835.0799560546875 2509.80859375 C -835.0799560546875 2509.80859375 -436 2509.80859375 -436 2509.80859375')
          p#Please_complete_to_create_your
            span Please complete to create your account.
          p#Already_have_an_account_Sign_i(onclick='application.goToTargetView(event)')
            span Already have an account? Sign in.
          p#Term_of_use_Privacy_policy
            span Term of use. Privacy policy
          //- 버튼이 안눌림 수정이 필요함
          //- button#sign_up(onclick='application.goToTargetView(event)')
          //-   svg._166
          //-     rect#_166(rx='4' ry='4' x='0' y='0' width='185' height='50')
          //-   #Sign_up_b
          //-     span Sign up
          input#sign_up(type="submit" value="회원가입")
            //- svg._166
            //-   rect#_166(rx='4' ry='4' x='0' y='0' width='185' height='50')
            //- #Sign_up_b
            //-   span Sign up
        #ihidnum
          #_b
            input(type='text' name='ihidnum' placeholder='주민등록번호' style='background: transparent; width: 400px; height:27px')
          svg._297_ca(viewbox='-835.08 2509.809 400 2')
            path#_297_ca(d='M -835.0799560546875 2509.80859375 C -835.0799560546875 2509.80859375 -435.0799560546875 2509.80859375 -435.0799560546875 2509.80859375')
        #department_id
          #_cc
            input(type='text' name='department_id' placeholder='부서' style='background: transparent; width: 400px; height:27px')
          svg._297_cd(viewbox='-835.08 2509.809 400 2')
            path#_297_cd(d='M -835.0799560546875 2509.80859375 C -835.0799560546875 2509.80859375 -435.0799560546875 2509.80859375 -435.0799560546875 2509.80859375')
        #web_manage_id
          #_cf
            input(type='text' name='web_manage_id' placeholder='아이디' style='background: transparent; width: 400px; height:27px')
          svg._297_cg(viewbox='-835.08 2509.809 400 2')
            path#_297_cg(d='M -835.0799560546875 2509.80859375 C -835.0799560546875 2509.80859375 -435.0799560546875 2509.80859375 -435.0799560546875 2509.80859375')
        #pass_word
          #_ci
            input(type='password' name='pass_word' placeholder='비밀번호' style='background: transparent; width: 400px; height:27px')
          svg._297_cj(viewbox='-835.08 2509.809 400 2')
            path#_297_cj(d='M -835.0799560546875 2509.80859375 C -835.0799560546875 2509.80859375 -435.0799560546875 2509.80859375 -435.0799560546875 2509.80859375')
        #position_id
          #_
            input(type='text' name='position_id' placeholder='직책' style='background: transparent; width: 400px; height:27px')
          svg._297_cm(viewbox='-835.08 2509.809 400 2')
            path#_297_cm(d='M -835.0799560546875 2509.80859375 C -835.0799560546875 2509.80859375 -435.0799560546875 2509.80859375 -435.0799560546875 2509.80859375')
        #final_graduate
          #_co
            input(type='text' name='master_check' placeholder='관리자 유무 Y/N' style='background: transparent; width: 400px; height:27px')
          svg._297_cp(viewbox='-835.08 2509.809 400 2')
            path#_297_cp(d='M -835.0799560546875 2509.80859375 C -835.0799560546875 2509.80859375 -435.0799560546875 2509.80859375 -435.0799560546875 2509.80859375')
          ._560_cu
            lineargradient#_560_cu(spreadmethod='pad' x1='0.897' x2='0.206' y1='0.14' y2='0.877')
              stop(offset='0' stop-color='#242348' stop-opacity='1')
              stop(offset='1' stop-color='#5a55aa' stop-opacity='1')
            rect#_560_cu(rx='0' ry='0' x='0' y='0' width='800' height='960')
      #_243
        svg._176_cx
          lineargradient#_176_cx(spreadmethod='pad' x1='0.154' x2='0.961' y1='0.092' y2='0.97')
            stop(offset='0' stop-color='#504ed1' stop-opacity='1')
            stop(offset='1' stop-color='#aba8fa' stop-opacity='1')
          rect#_176_cx(rx='0' ry='0' x='0' y='0' width='800' height='960')
        img#_4(src='/images/_4.png' srcset='/images/_4.png 1x, /images/_4@2x.png 2x')