/*내부 div 부분*/
.main {
    background-color: #fff;
    width: 1100px;
    height: 900px;
    margin: 30px auto;
    display:flex;
}

.main_nav {
    width: 200px;
    height:900px;
    display:flex;
}

.main_conent {
    margin:10px;
}
.main_a {
    font-size:1em;
}
.title_1 {
    font-size:2em;
}
.title_2 {
    font-size: 1.5em;
}

/*조회 부분*/
form {
    width:800px;
    margin:30px;
    background-color:rgb(248,248,252) ;
}

.col-1 {
    margin:1%;
    text-align: center;
}
.col-2 {
    margin:1%;
    text-align: center;
}
.row-1 {
    margin:1%;
    text-align: left;
}
.row-2 {
    margin:1%;
    text-align: left;
}
.row-3 {
    margin:1%;
    text-align: left;
}
.row-4 {
    margin:1%;
    text-align: left;
}
.row-5 {
    margin:1%;
    text-align: left;
}
.row-6{
    margin:3%;
    text-align: center;
}
.col-1-1 {
    margin:1%;
    text-align: left;
}
.col-1-2 {
    margin:1%;
    text-align: left;
}
.col-1-3 {
    margin:1%;
    text-align: left;
}
.col-1-4 {
    margin:1%;
    text-align: left;
}
.col-1-5 {
    margin:1%;
    text-align: left;
}

input {
    text-align:center;
}